.nav {
    padding: 20px;
    text-align: center;
    &__link {
        color: rgb(233, 193, 17);
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 7px;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        font-weight: 900;
        font-family: 'Bangers', cursive;
        font-size: 28px;
        letter-spacing: 5px;
        transition: box-shadow 0.1s ease-in-out;
        &:hover {
            text-decoration: line-through;
            box-shadow: 0 0 10px 5px rgb(71, 71, 71);
        }
        &__active {
            box-shadow: 0 15px 10px -10px black;
        }
    }
}